@import "../../style/colors.scss";

.header-wrapper {
  margin-top: 1.5rem;

  a {
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.3s;
    color: $link-color;

    &:hover {
      opacity: 1;
      color: $base-color;
      background-color: $base-font-color;
      border: 1px solid;
      padding: 0.5rem;
      border-radius: 1rem;
      text-decoration: none;
    }
  }
}
