@import "../../style/colors.scss";

.scoreboard-page {
  .game-scores {
    border: 1px solid;
    border-radius: 1rem;
    width: 30%;
    margin: 1rem auto;
    padding: 1rem 0;

    span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .all-scores-table {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    border: 1px solid;
    padding: 1rem;
    border-radius: 1rem;

    .score-data {
      display: flex;
      justify-content: space-between;
      align-self: center;
      margin: 0.5rem 0;
      td {
        align-self: center;
      }
    }
  }

  .return-to-home-page {
    margin-top: 2.5rem;

    span {
      padding: 0.5rem;
      font-size: 1.6rem;
      font-weight: bold;
      opacity: 0.8;
      transition: 0.3s;
      text-decoration: underline;
      color: $link-color;

      &:hover {
        opacity: 1;
        color: $base-color;
        background-color: $base-font-color;
        border: 1px solid;
        padding: 0.5rem;
        border-radius: 1rem;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .scoreboard-page {
    .game-scores, .all-scores-table {
      width: 60% !important;
    }
  }
}
